[Unit]
Description=Assinatura digital
After=network.target

[Service]
User=root
Restart=on-failure
WorkingDirectory=/apps/assinatura_digital
ExecStart=/bin/bash /usr/local/bin/assinatura-digital.sh
ExecReload=/bin/bash /usr/local/bin/assinatura-digital.sh
ExecStop=/bin/bash /usr/local/bin/assinatura-digital-stop.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=assinatura

[Install]
WantedBy=multi-user.target
